@import url('https://ctalvio.github.io/Monochromic/default_style.css');
}
.adminDrawerLogo img {
content: url(https://sites.google.com/a/imbrium.tv/imbrium/files/movio_logo_side_by_side_white_small.png) !important;
}
imgLogoIcon {
content: url(https://sites.google.com/a/imbrium.tv/imbrium/files/movio_logo_side_by_side_white_small.png) !important;
}
.pageTitleWithLogo {
background-image: url(https://sites.google.com/a/imbrium.tv/imbrium/files/movio_logo_side_by_side_white_small.png) !important;
}
#loginPage {
background: url(https://sites.google.com/a/imbrium.tv/imbrium/files/movio_login_bg.png) !important;
background-size: cover !important;
}

/* give the buttons a hover effect */
.emby-button>i:hover,
.detailButton-content:hover {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all .1s ease-in-out;
    transform: scale(1.2);
    -moz-text-shadow: 0 0 5px #222326;
    -webkit-text-shadow: 0 0 5px #222326;
    text-shadow: 0px 0px 5px #222326;
}
.paper-icon-button-light:focus {
    color: #222326 !important;
    background-color: rgba(34, 35, 38, .3) !important;
}
.paper-icon-button-light:hover {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
    -moz-text-shadow: 0 0 5px #222326;
    -webkit-text-shadow: 0 0 5px #222326;
    text-shadow: 0px 0px 5px #222326;
}

/*Hover items*/
.cardImageContainer {
    background-size: 102%;
    transition: all .25s;
}
.card:hover .cardImageContainer,
.card:focus .cardImageContainer {
    background-size: 105%;
}
@media (min-width: 100em) {
    div[data-role=page] {
        margin-top: 5em !important;
        padding-top: 0px !important;
        overflow: hidden scroll;
    }
}
div[data-role=page]:not(.withTabs) {
    margin-top: 4em !important;
}
.layout-tv body {
    overflow-y: scroll;
}
.layout-tv div[data-role=page] {
    margin: 0;
    overflow: visible;
}
.skinHeader-withBackground {
    background-color: rgba(0, 0, 0, 0) !important;
}
